{# templates/layout.twig #}
<!DOCTYPE html>
<html lang="en">
{# ... more stuff ... #}

<title>{% block title %}
    Penguin Swag
    {% endblock %}</title>

{# ... #}

{% block body %}{% endblock %}

{# ... the rest ... #}

